{% trans_default_domain('field.address') %}

{% block address_field_row %}

    {# <label class="form-label">{{ 'label'|trans }}</label> #}
    <label class="form-label">
        {{ form.vars.label }}
        {% if form.vars.required %}
            <span class="text-danger">*</span>
        {% endif %}
    </label>

    <div class="d-flex flex-column align-items-center pb-3 radio-buttons gap-3"
         data-buttons="true"
         style='clear: both'>

        {{ form_widget(form) }}
    </div>

{% endblock %}

